<!DOCTYPE html>
<html>
<head>
    <!-- Page Settings -->
    <title>Preppy Purity Test</title>
    <link rel="icon" href="https://jfkairport.com/static/img/favicon.ico">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- JQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            

    <!-- Style -->
    <style>
        html {
            background-color: #aec9eb;
            color: #03254c;
        }

        body {
            text-align: center;
        }
        
        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    </style>
</head>

<body>
    <!-- INTRODUCTION -->
    <p>
        <h1><b>Preppy Purity Test</b></h1>
        <div id="toHide">
            <p><i>The Preppy Purity Test is based off of the original Purity Test that was meant<br>for college students to track the maturation of their experiences throughout college.<br>This test has been adapted to the prep school culture.</i></p>
            <a href="#" class="waves-effect waves-light btn yellow darken-3">View All Results</a>
            <h2><b>Select Your School:</b></h2>
    </p>
    <div class="row conatiner">
        <div class="col m4">
          <div class="card small z-depth-2">
            <div class="card-image">
              <img src="https://images2.boardingschoolreview.com/photo/1122x864/0/7/choate-rosemary-hall-d1qCrC.jpg">
            </div>
            <div class="card-content">
                <span class="card-title"><b>Choate Rosemary Hall</b></span>
                <a href="test" class="waves-effect waves-light btn light-blue darken-4">Take Test</a>
                <a href="#" class="waves-effect waves-light btn light-blue darken-4">View Stats</a>
            </div>
          </div>
        </div>
        <div class="col m4">
            <div class="card small z-depth-2">
                <div class="card-image">
                    <img src="https://d13b2ieg84qqce.cloudfront.net/705b9a8896af4dad10ba668e7b9f8a9363189480.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title"><b>Deerfield Academy</b></span>
                    <a href="#" class="waves-effect waves-light btn green darken-4">Take Test</a>
                    <a href="#" class="waves-effect waves-light btn green darken-4">View Stats</a>
                </div>
            </div>
          </div>
          <div class="col m4">
            <div class="card small z-depth-2">
                <div class="card-image">
                    <img src="https://www.hotchkiss.org/uploaded/images/Our_Campus/MainBuilding.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title"><b>Hotchkiss School</b></span>
                    <a href="#" class="waves-effect waves-light btn blue darken-4">Take Test</a>
                    <a href="#" class="waves-effect waves-light btn blue darken-4">View Stats</a>
                </div>
            </div>
          </div>
          <div class="col m4">
            <div class="card small z-depth-2">
                <div class="card-image">
                    <img src="https://www.nj.com/resizer/tkUPCcWxp2X4cZzf-3cmdqqhzmY=/450x0/smart/arc-anglerfish-arc2-prod-advancelocal.s3.amazonaws.com/public/SDN5XTCIPVALHMAFVOJMAJCHTE.JPG">
                </div>
                <div class="card-content">
                    <span class="card-title"><b>Lawrenceville School</b></span>
                    <a href="#" class="waves-effect waves-light btn red">Take Test</a>
                    <a href="#" class="waves-effect waves-light btn red">View Stats</a>
                </div>
            </div>
          </div>
          <div class="col m4">
            <div class="card small z-depth-2">
                <div class="card-image">
                    <img src="https://www.nmhschool.org/uploaded/Z_NMH_UPLOADED_FILES/ALUMNI_NMH_FILES/0209_20160512_RachaelWaring.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title"><b>Northfield Mount Hermon</b></span>
                    <a href="#" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    <a href="#" class="waves-effect waves-light btn red accent-4">View Stats</a>
                </div>
            </div>
          </div>
          <div class="col m4">
            <div class="card small z-depth-2">
                <div class="card-image">
                    <img src="https://cdn.britannica.com/06/145006-050-78D8EE94/Samuel-Phillips-Hall-Mass-Academy-Andover.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title"><b>Phillips Academy Andover</b></span>
                    <a href="#" class="waves-effect waves-light btn blue darken-4">Take Test</a>
                    <a href="#" class="waves-effect waves-light btn blue darken-4">View Stats</a>
                </div>
            </div>
          </div>
          <div class="col m4">
            <div class="card small z-depth-2">
                <div class="card-image">
                    <img src="https://images2.boardingschoolreview.com/photo/1122x864/0/6/phillips-exeter-academy-8oC0C8.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title"><b>Phillips Academy Exeter</b></span>
                    <a href="#" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    <a href="#" class="waves-effect waves-light btn red accent-4">View Stats</a>
                </div>
            </div>
          </div>
          <div class="col m4">
            <div class="card small z-depth-2">
                <div class="card-image">
                    <img src="https://api.time.com/wp-content/uploads/2015/08/prep-school-rape-trial.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title"><b>St. Paul's School</b></span>
                    <a href="#" class="waves-effect waves-light btn red">Take Test</a>
                    <a href="#" class="waves-effect waves-light btn red">View Stats</a>
                </div>
            </div>
          </div>
      </div>

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>


</html>