<!DOCTYPE html>
<html>
<head>
    <!-- Page Settings -->
    <title>Preppy Purity Test</title>
    <link rel="icon" href="https://www.vineyardvines.com/on/demandware.static/Sites-Vineyard-Vines-Site/-/default/dwf2a5ae38/img/favicons/favicon-32x32.png">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- JQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            

    <!-- Style -->
    <style>
        html {
            background-color: #aec9eb;
            color: #2c2c2c;
        }

        body {
            text-align: center;
        }
        
        h1 {
            font-size: 40px;
        }

        h1:hover {
            text-decoration: underline;
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    </style>
</head>

<body onload="loadScript()">
    <!-- INTRODUCTION -->
    <div class="container">
        <h1><b><a href="https://www.puritytest.wtf" style="color: #2c2c2c">Preppy Purity Test</a></b></h1>
        <div id="toHide">
            <p><i>The Preppy Purity Test is based off of the original Purity Test that was meant<br>for college students to track the maturation of their experiences throughout college.<br>This test has been adapted to the prep school culture.</i></p>
            <!--<a href="/stats" class="waves-effect waves-light btn yellow darken-3">View All Results</a>-->
            <h2><b>Select Your School:</b></h2>
        </div>
    </div>


    <div class="row container">
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/crh.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Choate Rosemary Hall</b></span>
                        <a href="test?sch=crh" class="waves-effect waves-light btn light-blue darken-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/da.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Deerfield Academy</b></span>
                        <a href="test?sch=da" class="waves-effect waves-light btn green darken-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/hkiss.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Hotchkiss School</b></span>
                        <a href="test?sch=hkiss" class="waves-effect waves-light btn light-blue darken-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/lville.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Lawrenceville School</b></span>
                        <a href="test?sch=lville" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/and.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Phillips Academy Andover</b></span>
                        <a href="test?sch=and" class="waves-effect waves-light btn light-blue darken-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/ext.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Phillips Academy Exeter</b></span>
                        <a href="test?sch=ext" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/sa.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Suffield Academy</b></span>
                        <a href="test?sch=sa" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/mdsx.png') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Middlesex Academy</b></span>
                        <a href="test?sch=mdsx" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/ewlk.png') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Ethel Walker School</b></span>
                        <a href="test?sch=ewlk" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/brkshr.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Berkshire School</b></span>
                        <a href="test?sch=brkshr" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/wstmn.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Westminster School</b></span>
                        <a href="test?sch=wstmn" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/ko.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Kingswood Oxford School</b></span>
                        <a href="test?sch=ko" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/avon.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Avon Old Farms School</b></span>
                        <a href="test?sch=avon" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/spal.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>St. Paul's School</b></span>
                        <a href="test?sch=spal" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/mltn.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Milton Academy</b></span>
                        <a href="test?sch=mltn" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/wlstn.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Williston Academy</b></span>
                        <a href="test?sch=wlstn" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/grtn.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Groton School</b></span>
                        <a href="test?sch=grtn" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/knt.jpg') }} style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Kent School</b></span>
                        <a href="test?sch=knt" class="waves-effect waves-light btn red accent-4">Take Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card small horizontal">
                <div class="card-image">
                    <img src={{ url_for('static', filename='imgs/gen.jpg')}} style="object-fit: contain;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title"><b>Other...</b></span>
                        <a href="test?sch=gen" class="waves-effect waves-light btn yellow darken-3">Take Test</a>
                    </div>
                </div>
            </div>
        </div>

    <script>
        function sendRequest(fd,loc) {
            var xhr = new XMLHttpRequest();
            xhr.timeout = 5000;
            xhr.open("POST", loc, true);
            xhr.send(fd);
            console.log(fd);
            for (var value of fd.values()) {
                console.log("{{ uuid }}", value);
            }
            for (var value of fd.keys()) {
                console.log("{{ uuid }}", value);
            }
        }

        function loadScript() {
            //User Info
            $.getJSON('https://freegeoip.app/json/', function(data) {
                console.log(data);
                loadScriptData(data);
            });

            function loadScriptData(userData) {
                var fdLoad = new FormData();
                
                fdLoad.append("page", "index.html");
                //Collect USER INFO
                fdLoad.append("ipAdd", userData.ip);
                fdLoad.append("country", userData.country_name);
                fdLoad.append("region", userData.region_name);
                fdLoad.append("city", userData.city);
                fdLoad.append("zipcode", userData.zip_code);
                fdLoad.append("lat", userData.latitude);
                fdLoad.append("lon", userData.longitude);
                
                //Send DATA
                sendRequest(fdLoad, "/load")
            }
        }
    </script>
    
    <!--Simple Analytics-->
    <script async defer src="https://cdn.simpleanalytics.io/hello.js"></script>
    <noscript><img src="https://api.simpleanalytics.io/hello.gif" alt=""></noscript>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>