<!DOCTYPE html>
<html>
     
    <head>
        <!-- Page Settings -->
        <title>Preppy Purity Test</title>
        <link rel="icon" href="https://jfkairport.com/static/img/favicon.ico">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- JQuery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <!-- Style -->
        <style>
        html {
            background-color: {{ bknd }};
            color: #eee
        }
        
        body {
            text-align: center;
        }
        #list {
            text-align: left;
            padding-left:5%;
            font-size: 20px;
        }
        h1 {
            font-size: 400%;
            font-weight: bold;
            color: #FDB81F;
            padding:0px;
            margin:0px;
        }
        li{
            margin-top: 5px;
        }

        li:first-child {
            margin-top:0;
        }
        
        .button {
            text-align: center;
            width: 100px;
            height: 25px;
            border-radius: 7px;
            background-color: #ccc;
            color: rgb(0, 0, 5);
            position: relative;
            left: 5%;
        }

        .filled-in{
            height: 15px;
            width: 15px;
        }

        </style>
    </head>
    
    <body onload="loadScript()">
        <!--INTRODUCTION-->
        <p>
            <img src={{ headIMG }} height="150" width="250" style="object-fit: fit;background-color: white ;border: 5px solid {{ hlight }}; border-radius: 7px;">
            <h2>{{ schNM }}</h2>
            <div id="toHide">
                <p><i> The Preppy Purity Test is based off of the original Purity Test that was meant<br>for college students to track the maturation of their experiences throughout college.<br>This test has been adapted to the culture of the school upon the hillside.</i></p>
                <p><strong>NOTE: This is not a bucket list.<br>Completion of all items on this test will likely result in <i>expulsion</i>.</strong></p>
                <br>
                <h2>Click on every item you have done:</h1>
        </p>
        
        <!--CHECKBOXES-->
            <div id="list">
                <ol class="listSpace">
                    <li> <input type="checkbox" class="filled-in" id="1"> Gone to class in the same clothes that you slept in?
                    <li> <input type="checkbox" class="filled-in" id="2"> Slept through a class?
                    <li> <input type="checkbox" class="filled-in" id="3"> Skipped a class?
                    <li> <input type="checkbox" class="filled-in" id="4"> Watched Netflix in-class?
                    <li> <input type="checkbox" class="filled-in" id="5"> Shopped online in-class?
                    <li> <input type="checkbox" class="filled-in" id="6"> Pulled an all-nighter?
                    <li> <input type="checkbox" class="filled-in" id="7"> LED lights in your room?
                    <li> <input type="checkbox" class="filled-in" id="8"> Asked someone to a formal dance?
                    <li> <input type="checkbox" class="filled-in" id="9"> Held a grudge against someone?
                    <li> <input type="checkbox" class="filled-in" id="10"> Used Adderall?
                    <li> <input type="checkbox" class="filled-in" id="11"> Used Google Translate for homework?
                    <li> <input type="checkbox" class="filled-in" id="12"> Paid someone to do your homework?
                    <li> <input type="checkbox" class="filled-in" id="13"> Plagiarized an essay?
                    <li> <input type="checkbox" class="filled-in" id="14"> Lied to a teacher?
                    <li> <input type="checkbox" class="filled-in" id="15"> Cheated on a test/quiz?
                    <li> <input type="checkbox" class="filled-in" id="16"> Gotten caught cheating on a test/quiz?
                    <li> <input type="checkbox" class="filled-in" id="17"> Failed a test or major assignment?
                    <li> <input type="checkbox" class="filled-in" id="18"> Lied on a college application?
                    <li> <input type="checkbox" class="filled-in" id="19"> Skipped a school meeting?
                    <li> <input type="checkbox" class="filled-in" id="20"> Gotten dress coded?
                    <li> <input type="checkbox" class="filled-in" id="21"> Had a fight on-campus?
                    <li> <input type="checkbox" class="filled-in" id="22"> Broken a bone on-campus?
                    <li> <input type="checkbox" class="filled-in" id="23"> Stolen food from the dorm fridge?
                    <li> <input type="checkbox" class="filled-in" id="24"> Stolen from a gas station?
                    <li> <input type="checkbox" class="filled-in" id="25"> Stolen airpods?
                    <li> <input type="checkbox" class="filled-in" id="26"> Stolen from a roommate?
                    <li> <input type="checkbox" class="filled-in" id="27"> Stolen from a dormmate?
                    <li> <input type="checkbox" class="filled-in" id="28"> Stolen from a random student?
                    <li> <input type="checkbox" class="filled-in" id="29"> Searched someone’s room without permission?
                    <li> <input type="checkbox" class="filled-in" id="30"> Befriended someone because they have $$$?
                    <li> <input type="checkbox" class="filled-in" id="31"> Forgot to early check-in?
                    <li> <input type="checkbox" class="filled-in" id="32"> Been late to curfew?
                    <li> <input type="checkbox" class="filled-in" id="33"> Snuck out after curfew?
                    <li> <input type="checkbox" class="filled-in" id="34"> Had to switch roommates/dorms?
                    <li> <input type="checkbox" class="filled-in" id="35"> Slept over in a dorm?
                    <li> <input type="checkbox" class="filled-in" id="36"> Had a secret guest overnight?
                    <li> <input type="checkbox" class="filled-in" id="37"> Streaked in public?
                    <li> <input type="checkbox" class="filled-in" id="38"> Spread a fake rumor about someone on purpose?
                    <li> <input type="checkbox" class="filled-in" id="39"> Stalked someone using Snap Maps?
                    <li> <input type="checkbox" class="filled-in" id="40"> Vandalized campus?
                    <li> <input type="checkbox" class="filled-in" id="41"> Pirated a movie on-campus?
                    <li> <input type="checkbox" class="filled-in" id="42"> Room restriction?
                    <li> <input type="checkbox" class="filled-in" id="43"> Detention?
                    <li> <input type="checkbox" class="filled-in" id="44"> Restriction/bounds/probation?
                    <li> <input type="checkbox" class="filled-in" id="45"> Dismissed?
                    <li> <input type="checkbox" class="filled-in" id="46"> Left campus without a day permission?
                    <li> <input type="checkbox" class="filled-in" id="47"> Driven a boarder? Driven by a day student?
                    <li> <input type="checkbox" class="filled-in" id="48"> Gotten drunk off-campus?
                    <li> <input type="checkbox" class="filled-in" id="49"> Gotten drunk on-campus?
                    <li> <input type="checkbox" class="filled-in" id="50"> Vaped off-campus?
                    <li> <input type="checkbox" class="filled-in" id="51"> Vaped on-campus?
                    <li> <input type="checkbox" class="filled-in" id="52"> Smoked off-campus?
                    <li> <input type="checkbox" class="filled-in" id="53"> Smoked on-campus?
                    <li> <input type="checkbox" class="filled-in" id="54"> Used marijuana off-campus?
                    <li> <input type="checkbox" class="filled-in" id="55"> Used marijuana on-campus?
                    <li> <input type="checkbox" class="filled-in" id="56"> Used meth, cocaine, PCP, LSD or heroin off-campus?
                    <li> <input type="checkbox" class="filled-in" id="57"> Used meth, cocaine, PCP, LSD or heroin on-campus?
                    <li> <input type="checkbox" class="filled-in" id="58"> Sold drugs?
                    <li> <input type="checkbox" class="filled-in" id="59"> Taken steroids?
                    <li> <input type="checkbox" class="filled-in" id="60"> Drug-tested?
                    <li> <input type="checkbox" class="filled-in" id="61"> Used a fake ID?
                    <li> <input type="checkbox" class="filled-in" id="62"> Partied off-campus?
                    <li> <input type="checkbox" class="filled-in" id="63"> Gone to a concert festival?
                    <li> <input type="checkbox" class="filled-in" id="64"> Been clubbing?
                    <li> <input type="checkbox" class="filled-in" id="65"> Had a tattoo?
                    <li> <input type="checkbox" class="filled-in" id="66"> Blocked 10+ people on Snapchat?
                    <li> <input type="checkbox" class="filled-in" id="67"> Held hands romantically?
                    <li> <input type="checkbox" class="filled-in" id="68"> Had your first kiss?
                    <li> <input type="checkbox" class="filled-in" id="69"> Made out with someone?
                    <li> <input type="checkbox" class="filled-in" id="70"> Masturbated?
                    <li> <input type="checkbox" class="filled-in" id="71"> Masturbated to a picture of a friend?
                    <li> <input type="checkbox" class="filled-in" id="72"> Masturbated with a roommate in the room?
                    <li> <input type="checkbox" class="filled-in" id="73"> Watched porn on-campus?
                    <li> <input type="checkbox" class="filled-in" id="74"> Received nudes?
                    <li> <input type="checkbox" class="filled-in" id="75"> Sent nudes?
                    <li> <input type="checkbox" class="filled-in" id="76"> Posted nudes online?
                    <li> <input type="checkbox" class="filled-in" id="77"> Given or received a hickey?
                    <li> <input type="checkbox" class="filled-in" id="78"> Received a hand job/fingering?
                    <li> <input type="checkbox" class="filled-in" id="79"> Given a hand job/fingering?
                    <li> <input type="checkbox" class="filled-in" id="80"> Received head?
                    <li> <input type="checkbox" class="filled-in" id="81"> Given head?
                    <li> <input type="checkbox" class="filled-in" id="82"> Had sex?
                    <li> <input type="checkbox" class="filled-in" id="83"> Had phone sex?
                    <li> <input type="checkbox" class="filled-in" id="84"> Bought a pregnancy test or plan b?
                    <li> <input type="checkbox" class="filled-in" id="85"> Danced without leaving room for Jesus?
                    <li> <input type="checkbox" class="filled-in" id="86"> Kicked yours or someone else’s roommate out to do stuff?
                    <li> <input type="checkbox" class="filled-in" id="87"> Broke visitation?
                    <li> <input type="checkbox" class="filled-in" id="88"> Broke visitation 10 or more times?
                    <li> <input type="checkbox" class="filled-in" id="89"> Caught breaking visitation?
                    <li> <input type="checkbox" class="filled-in" id="90"> Caught hooking up?
                    <li> <input type="checkbox" class="filled-in" id="91"> Dated someone at least 2 grades below you?
                    <li> <input type="checkbox" class="filled-in" id="92"> Dated someone at least 2 grades above you? 
                    <li> <input type="checkbox" class="filled-in" id="93"> Been dumped?
                    <li> <input type="checkbox" class="filled-in" id="94"> Gotten cheated on?
                    <li> <input type="checkbox" class="filled-in" id="95"> Cheated on someone?
                    <li> <input type="checkbox" class="filled-in" id="96"> Hooked up in a dorm?
                    <li> <input type="checkbox" class="filled-in" id="97"> Hooked up in someone else’s room?
                    <li> <input type="checkbox" class="filled-in" id="98"> Hooked up outside?
                    <li> <input type="checkbox" class="filled-in" id="99"> Played a kissing or striping game with 2+ people?
                    <li> <input type="checkbox" class="filled-in" id="100"> Had an STD?
                </ol>

                <input class="button" id="submit" type="submit" value="Calculate!" style="margin-right: 1rem;">
                <input class="button" id="reset" type="submit" value="Clear">
                <br><br><br><br>
            </div>
        </div>

        <div id = "toShow">
            <h2 id="test">Your score:</h2>
            <h1 id="score"></h1>
            <table align="center" cellspacing="25">
                <tr>
                    <th>
                        <a href="https://www.puritytest.wtf" style="text-decoration: underline; color:#FDB81F; position: relative;">puritytest.wtf</p>
                    </th>
                    <th>
                        <input class="button" type="submit" value="Again?" onClick="window.location.reload();">
                    </th>
                </tr>
            </table>
            
        </div>
        
        <script>
        // Initially hides results
        $("#toShow").hide();

        // Pre-calcuate the individual send order
        function shuffle(array) {
             var currentIndex = array.length, temporaryValue, randomIndex;
             // While there remain elements to shuffle...
             while (0 !== currentIndex) {
                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                // And swap it with the current element.
                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
             }

            return array;
        }

        // On click of the submit button: 
        $('#submit').click(function() {
            // Calculates purity
            var sinList = document.querySelectorAll('input[type="checkbox"]:checked');
            var sins = sinList.length;
            var purity = 100-sins;

            submit(purity);

            // Shows the score in the h1
            $('#score').html(purity);
            
            // Shows the score and hides the checks
            $("#toShow").show();
            $("#toHide").hide();
        });

        function sendRequest(fd,loc) {
            var xhr = new XMLHttpRequest();
            xhr.timeout = 5000;
            xhr.open("POST", loc, true);
            xhr.send(fd);
            for (var value of fd.values()) {
                console.log("{{ uuid }}", value);
            }
            for (var value of fd.keys()) {
                console.log("{{ uuid }}", value);
            }
        }

        function submit(purity) {
            //User Info
            $.getJSON('https://freegeoip.app/json/', function(data) {
                compileData(data);
            });

            function compileData(userData) {
                var fd = new FormData();
                
                //Collect SESSION INFO
                var today = new Date();
                var date = (today.getMonth()+1)+'-'+today.getDate()+'-'+today.getFullYear();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                fd.append("date", date);
                fd.append("time", time);
                let searchParams = new URLSearchParams(window.location.search);
                let param = searchParams.get('sch');
                fd.append("school", param);
                fd.append("page", "index.db");

                //Collect USER INFO
                fd.append("ipAdd", userData.ip);
                fd.append("country", userData.country_name);
                fd.append("region", userData.region_name);
                fd.append("city", userData.city);
                fd.append("zipcode", userData.zip_code);
                fd.append("lat", userData.latitude);
                fd.append("lon", userData.longitude);
                
                //Collect TOTAL SCORE
                fd.append("totalScore", purity)
                
                //Collect INDIVIDUAL SCORES
                for (i=1; i<101; i++) {
                    result = 'Q' + i.toString();

                    if (document.getElementById(i.toString()).checked == true) {
                        fd.append(result, 1);
                    } else {
                        fd.append(result, 0);
                    };
                };

                //Send DATA
                sendRequest(fd, "/data");
            };            
            
            
        }
        
        // On click of the reset button: 
        $('#reset').click(function() {
            $('input:checkbox').removeAttr('checked');
        });

        function loadScript() {
            //User Info
            $.getJSON('https://freegeoip.app/json/', function(data) {
                loadScriptData(data);
            });

            function loadScriptData(userData) {
                var fdLoad = new FormData();
                
                fdLoad.append("page", "test.html");
                //Collect USER INFO
                fdLoad.append("ipAdd", userData.ip);
                fdLoad.append("country", userData.country_name);
                fdLoad.append("region", userData.region_name);
                fdLoad.append("city", userData.city);
                fdLoad.append("zipcode", userData.zip_code);
                fdLoad.append("lat", userData.latitude);
                fdLoad.append("lon", userData.longitude);
                
                //Send DATA
                sendRequest(fdLoad, "/load")
            }
        }
        </script>

        <!--Simple Analytics-->
        <script async defer src="https://cdn.simpleanalytics.io/hello.js"></script>
        <noscript><img src="https://api.simpleanalytics.io/hello.gif" alt=""></noscript>
    </body>
</html>