<!DOCTYPE html>
<html>
     
    <head>
        <!-- Page Settings -->
        <title>Preppy Purity Test</title>
        <link rel="icon" href="https://jfkairport.com/static/img/favicon.ico">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- JQuery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <!-- Style -->
        <style>
        html {
            background-color: {{ bknd }};
            color: {{ txtColor }}
        }
        
        body {
            text-align: center;
        }
        #list {
            text-align: left;
            padding-left:5%;
            font-size: 20px;
        }
        h1 {
            font-size: 400%;
            font-weight: bold;
            color: #FDB81F;
            padding:0px;
            margin:0px;
        }
        li{
            margin-top: 5px;
        }

        li:first-child {
            margin-top:0;
        }
        
        .button {
            text-align: center;
            width: 100px;
            height: 25px;
            border-radius: 7px;
            background-color: #7DA7D9;
            color: rgb(0, 0, 5);
            position: relative;
            left: 5%;
        }

        .filled-in{
            height: 15px;
            width: 15px;
        }

        </style>

    </head>
    
    <body>
        <!--INTRODUCTION-->
        <p>
            <img src="{{ headIMG }}" height="150" width="250" style="object-fit: fit; border: 5px solid {{ hlight }}; border-radius: 7px; "w>
            <div id="toHide">
                <p><i> The Preppy Purity Test is based off of the original Purity Test that was meant<br>for college students to track the maturation of their experiences throughout college.<br>This test has been adapted to the culture of the school upon the hillside.</i></p>
                <p><strong>NOTE: This is not a bucket list.<br>Completion of all items on this test will likely result in <i>expulsion</i>.</strong></p>
                <br>
                <h2>Click on every item you have done:</h1>
        </p>
        
        <!--CHECKBOXES-->
            <div id="list">
                <ol class="listSpace">
                    <li> <input type="checkbox" class="filled-in" id="1"> Made it on @choatecurtis?
                    <li> <input type="checkbox" class="filled-in" id="2"> Gone to class in the same clothes that you slept in?
                    <li> <input type="checkbox" class="filled-in" id="3"> Slept through a class(es)?
                    <li> <input type="checkbox" class="filled-in" id="4"> Skipped a class?
                    <li> <input type="checkbox" class="filled-in" id="5"> Watched Netflix in-class?
                    <li> <input type="checkbox" class="filled-in" id="6"> Shopped online in-class?
                    <li> <input type="checkbox" class="filled-in" id="7"> Pulled an all-nighter?
                    <li> <input type="checkbox" class="filled-in" id="8"> Skipped a school meeting?
                    <li> <input type="checkbox" class="filled-in" id="9"> Skipped a form meeting?
                    <li> <input type="checkbox" class="filled-in" id="10"> Wore airpods during school meeting?
                    <li> <input type="checkbox" class="filled-in" id="11"> Slept during a special program?
                    <li> <input type="checkbox" class="filled-in" id="12"> Lied on a college app?
                    <li> <input type="checkbox" class="filled-in" id="13"> Thursday D?
                    <li> <input type="checkbox" class="filled-in" id="14"> Saturday D?
                    <li> <input type="checkbox" class="filled-in" id="15"> Restriction?
                    <li> <input type="checkbox" class="filled-in" id="16"> Bounds?
                    <li> <input type="checkbox" class="filled-in" id="17"> Probation?
                    <li> <input type="checkbox" class="filled-in" id="18"> Left campus without a day permission?
                    <li> <input type="checkbox" class="filled-in" id="19"> Didn’t REACH when leaving campus?
                    <li> <input type="checkbox" class="filled-in" id="20"> Driven a boarder? Driven by a day student?
                    <li> <input type="checkbox" class="filled-in" id="21"> Ran from a teacher/dean/Comm Safety officer?
                    <li> <input type="checkbox" class="filled-in" id="22"> Jaywalked on Christian Street?
                    <li> <input type="checkbox" class="filled-in" id="23"> Swam in the pond (not the Phlotilla)? 
                    <li> <input type="checkbox" class="filled-in" id="24"> Participated in the Physics Phlotilla
                    <li> <input type="checkbox" class="filled-in" id="25"> Swam in the waterfall?
                    <li> <input type="checkbox" class="filled-in" id="26"> Ran up Mt. Doom?
                    <li> <input type="checkbox" class="filled-in" id="27"> Had a fight on-campus?
                    <li> <input type="checkbox" class="filled-in" id="28"> Broke a bone on-campus?
                    <li> <input type="checkbox" class="filled-in" id="29"> Had to go to the hospital?
                    <li> <input type="checkbox" class="filled-in" id="30"> Taken a mental health day?
                    <li> <input type="checkbox" class="filled-in" id="31"> Called Comm Safety for a ride when you weren’t injured?
                    <li> <input type="checkbox" class="filled-in" id="32"> Ignored someone on the path by looking at your phone?
                    <li> <input type="checkbox" class="filled-in" id="33"> Got yelled at by Dr. Curtis?
                    <li> <input type="checkbox" class="filled-in" id="34"> Dress coded?
                    <li> <input type="checkbox" class="filled-in" id="35"> Said hi to a person and didn’t get a hi back?
                    <li> <input type="checkbox" class="filled-in" id="36"> Study abroad/Signature program?
                    <li> <input type="checkbox" class="filled-in" id="37"> Used Google Translate?
                    <li> <input type="checkbox" class="filled-in" id="38"> Plagiarized?
                    <li> <input type="checkbox" class="filled-in" id="39"> Lied to a teacher?
                    <li> <input type="checkbox" class="filled-in" id="40"> Cheated on a test/quiz?
                    <li> <input type="checkbox" class="filled-in" id="41"> Caught cheating on a test/quiz?
                    <li> <input type="checkbox" class="filled-in" id="42"> Gotten JC-ed?
                    <li> <input type="checkbox" class="filled-in" id="43"> LED lights in your room?
                    <li> <input type="checkbox" class="filled-in" id="44"> Stole food from the fridge?
                    <li> <input type="checkbox" class="filled-in" id="45"> Stole from a roommate?
                    <li> <input type="checkbox" class="filled-in" id="46"> Stole from a dormmate?
                    <li> <input type="checkbox" class="filled-in" id="47"> Stole from a random student?
                    <li> <input type="checkbox" class="filled-in" id="48"> Stole from the SAC/i.d. Lab?
                    <li> <input type="checkbox" class="filled-in" id="49"> Got room restriction?
                    <li> <input type="checkbox" class="filled-in" id="50"> Forgot to early check-in?
                    <li> <input type="checkbox" class="filled-in" id="51"> Late to curfew?
                    <li> <input type="checkbox" class="filled-in" id="52"> Broken gross curfew?
                    <li> <input type="checkbox" class="filled-in" id="53"> Had to switch roommates/dorms?
                    <li> <input type="checkbox" class="filled-in" id="54"> Slept over in a dorm?
                    <li> <input type="checkbox" class="filled-in" id="55"> Had a secret guest overnight?
                    <li> <input type="checkbox" class="filled-in" id="56"> Gone to Deerfield for Deerfield Day?
                    <li> <input type="checkbox" class="filled-in" id="57"> Asked someone to a formal dance (Hol Ball, 3 / 4, First/Last Hurrah)?
                    <li> <input type="checkbox" class="filled-in" id="58"> Went to a faculty residence?
                    <li> <input type="checkbox" class="filled-in" id="59"> Went to Phoebe House (Dr. Curtis’s house)?
                    <li> <input type="checkbox" class="filled-in" id="60"> Gotten drunk on-campus?
                    <li> <input type="checkbox" class="filled-in" id="61"> Gotten drunk in Wallingford?
                    <li> <input type="checkbox" class="filled-in" id="62"> Vaped on-campus?
                    <li> <input type="checkbox" class="filled-in" id="63"> Vaped in Wallingford?
                    <li> <input type="checkbox" class="filled-in" id="64"> Smoked on-campus?
                    <li> <input type="checkbox" class="filled-in" id="65"> Smoked in Wallingford?
                    <li> <input type="checkbox" class="filled-in" id="66"> Used marijuana on-campus?
                    <li> <input type="checkbox" class="filled-in" id="67"> Used marijuana in Wallingford?
                    <li> <input type="checkbox" class="filled-in" id="68"> Used meth, cocaine, PCP, or heroin on-campus?
                    <li> <input type="checkbox" class="filled-in" id="69"> Used meth, cocaine, PCP, or heroin in Wallingford?
                    <li> <input type="checkbox" class="filled-in" id="70"> Taken steroids?
                    <li> <input type="checkbox" class="filled-in" id="71"> Ever been safe haven-ed?
                    <li> <input type="checkbox" class="filled-in" id="72"> Drug-tested?
                    <li> <input type="checkbox" class="filled-in" id="73"> Partied off-campus over long weekend?
                    <li> <input type="checkbox" class="filled-in" id="74"> Went to Gov Ball after term end?
                    <li> <input type="checkbox" class="filled-in" id="75"> Had your first kiss?
                    <li> <input type="checkbox" class="filled-in" id="76"> Given or received a hickey?
                    <li> <input type="checkbox" class="filled-in" id="77"> Received a hand job/fingering?
                    <li> <input type="checkbox" class="filled-in" id="78"> Given a hand job/fingering?
                    <li> <input type="checkbox" class="filled-in" id="79"> Received head?
                    <li> <input type="checkbox" class="filled-in" id="80"> Given head?
                    <li> <input type="checkbox" class="filled-in" id="81"> Had sex? 
                    <li> <input type="checkbox" class="filled-in" id="82"> Danced without leaving room for JFK?
                    <li> <input type="checkbox" class="filled-in" id="83"> Watched porn on-campus?
                    <li> <input type="checkbox" class="filled-in" id="84"> Masturbated w/ a roommate(s) in the room?
                    <li> <input type="checkbox" class="filled-in" id="85"> Kicked yours or someone else’s roommate out to do stuff?
                    <li> <input type="checkbox" class="filled-in" id="86"> Broke visitation?
                    <li> <input type="checkbox" class="filled-in" id="87"> Broke visitation 10 or more times?
                    <li> <input type="checkbox" class="filled-in" id="88"> Caught breaking visitation?
                    <li> <input type="checkbox" class="filled-in" id="89"> Caught hooking up?
                    <li> <input type="checkbox" class="filled-in" id="90"> Had a romantic relationship at Choate?
                    <li> <input type="checkbox" class="filled-in" id="91"> Hooked up in a dorm?
                    <li> <input type="checkbox" class="filled-in" id="92"> Hooked up in the SAC? 
                    <li> <input type="checkbox" class="filled-in" id="93"> Hooked up in the Library? 
                    <li> <input type="checkbox" class="filled-in" id="94"> Hooked up in Lanphier?
                    <li> <input type="checkbox" class="filled-in" id="95"> Hooked up in the PMAC?
                    <li> <input type="checkbox" class="filled-in" id="96"> Hooked up in Colony Hall?
                    <li> <input type="checkbox" class="filled-in" id="97"> Hooked up in the X? 
                    <li> <input type="checkbox" class="filled-in" id="98"> Hooked up in the woods?
                    <li> <input type="checkbox" class="filled-in" id="99"> Hooked up during an interschool?
                    <li> <input type="checkbox" class="filled-in" id="100"> Has Choate in your insta bio?
                </ol>

                <input class="button" id="submit" type="submit" value="Calculate!" style="margin-right: 1rem;">
                <input class="button" id="reset" type="submit" value="Clear">
            </div>
        </div>

        <div id = "toShow">
            <h2 id="test">Your score:</h2>
            <h1 id="score"></h1>
            <table align="center" cellspacing="25">
                <tr>
                    <th>
                        <p style="text-decoration: underline; color:#FDB81F; position: relative;">puritytest.wtf</p>
                    </th>
                    <th>
                        <input class="button" type="submit" value="Again?" onClick="window.location.reload();">
                    </th>
                </tr>
            </table>
            
        </div>
        
        <script>
        // IDs
        // toHide: Everything that needs to be hidden when score is shown
        // toShow: Everything that needs to be shown when score is shown
        // score: h1 that shows the score
        
        // Initially hides results
        $("#toShow").hide();

        // Pre-calcuate the individual send order
        function shuffle(array) {
             var currentIndex = array.length, temporaryValue, randomIndex;
             // While there remain elements to shuffle...
             while (0 !== currentIndex) {
                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                // And swap it with the current element.
                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
             }

            return array;
        }

        // On click of the submit button: 
        $('#submit').click(function() {
            // Calculates purity
            var sinList = document.querySelectorAll('input[type="checkbox"]:checked');
            var sins = sinList.length;
            var purity = 100-sins;

            submit(purity);

            // Shows the score in the h1
            $('#score').html(purity);
            
            // Shows the score and hides the checks
            $("#toShow").show();
            $("#toHide").hide();
        });

        function sendRequest(fd,loc) {
            var xhr = new XMLHttpRequest();
            xhr.timeout = 5000;
            xhr.open("POST", loc, true);
            xhr.send(fd);
            console.log(fd);
            for (var value of fd.values()) {
                console.log("{{ uuid }}", value);
            }
            for (var value of fd.keys()) {
                console.log("{{ uuid }}", value);
            }
        }

        function submit(purity) {
            //User Info
            $.getJSON('http://ip-api.com/json?callback=?', function(data) {
                //console.log(JSON.stringify(data, null, 2));
                console.log(data);
                compileData(data);
            });

            function compileData(userData) {
                var fd = new FormData();
                
                //Collect SESSION INFO
                var today = new Date();
                var date = (today.getMonth()+1)+'-'+today.getDate()+'-'+today.getFullYear();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                fd.append("date", date);
                fd.append("time", time);
                let searchParams = new URLSearchParams(window.location.search);
                let param = searchParams.get('sch');
                fd.append("school", param);

                //Collect USER INFO
                fd.append("ipAdd", userData.query);
                fd.append("country", userData.country);
                fd.append("region", userData.regionName);
                fd.append("city", userData.city);
                fd.append("zipcode", userData.zip);
                fd.append("lat", userData.lat);
                fd.append("lon", userData.lon);
                fd.append("isp", userData.isp);
                fd.append("org", userData.org);
                fd.append("as", userData.as);
                
                //Collect TOTAL SCORE
                fd.append("totalScore", purity)
                
                //Collect INDIVIDUAL SCORES
                for (i=1; i<101; i++) {
                    result = 'Q' + i.toString();

                    if (document.getElementById(i.toString()).checked == true) {
                        fd.append(result, 1);
                    } else {
                        fd.append(result, 0);
                    };
                };

                //Send DATA
                sendRequest(fd, "/data");
            };            
            
            
        }
        
        // On click of the reset button: 
        $('#reset').click(function() {
            $('input:checkbox').removeAttr('checked');
        });
        </script>
    </body>
</html>